.card__like-button_is-active {
  background: transparent url("../../../../images/like-active.svg") no-repeat;
}

.card__likes-count {
  position: absolute;
  right: 26px;
  bottom: 15px;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  text-align: center;
  color: #000000;
}
